[
    {beanstalkd_consumer, [

        {servers, [
            {default_server, [
                {connection_info, [{host, {127,0,0,1}}, {port, 11300}, {timeout, 5000}]},
                {queues_number, 2},
                {consumers, [
                    {consumers_multi_tubes, [
                        {instances, 10},
                        {callbacks, [
                            {<<"tube1">>, stress_test, init, process},
                            {<<"tube2">>, stress_test, init, process},
                            {<<"tube3">>, stress_test, init, process},
                            {<<"tube4">>, stress_test, init, process},
                            {<<"tube5">>, stress_test, init, process},
                            {<<"tube6">>, stress_test, init, process},
                            {<<"tube7">>, stress_test, init, process},
                            {<<"tube8">>, stress_test, init, process},
                            {<<"tube9">>, stress_test, init, process},
                            {<<"tube10">>, stress_test, init, process},
                            {<<"tube11">>, stress_test, init, process},
                            {<<"tube12">>, stress_test, init, process}
                        ]},
                        {concurrent_jobs, 10000}
                    ]}
                ]}
            ]}
        ]}
    ]
}
].