[
	{kernel, [
        {logger_level, info},
        {logger, [

            % console log

            {handler, default, logger_std_h, #{
                formatter => {
                    logger_formatter, #{
                        single_line => false,
                        template => ["[", time,"] ", level, " ", pid, " ", mfa,":",line, " => ", msg,"\n"],
                        time_offset => "Z"
                    }
                },

                config => #{
                    overload_kill_enable => true,
                    sync_mode_qlen => 10000,
                    drop_mode_qlen => 10000,
                    flush_qlen     => 10000
                },

                filters => [
                    {remote_group_leader, {fun logger_filters:remote_gl/2, stop}},
                    {progress, {fun logger_filters:progress/2, stop}},
                    {sasl, {fun logger_filters:domain/2, {stop, sub, [otp, sasl]}}}
                ]
            }}
        ]}
    ]},

    {beanstalkd_consumer, [

        {servers, [
            {default_server, [
                {start_at_startup, true},
                {connection_info, [{host, {127,0,0,1}}, {port, 11300}, {timeout, 5000}]},
                {queues_number, 2},
                {consumers, [
                    {consumers_multi_tubes, [
                        {instances, 10},
                        {callbacks, [
                            {<<"tube1">>, stress_test},
                            {<<"tube2">>, stress_test},
                            {<<"tube3">>, stress_test},
                            {<<"tube4">>, stress_test},
                            {<<"tube5">>, stress_test},
                            {<<"tube6">>, stress_test},
                            {<<"tube7">>, stress_test},
                            {<<"tube8">>, stress_test},
                            {<<"tube9">>, stress_test},
                            {<<"tube10">>, stress_test},
                            {<<"tube11">>, stress_test},
                            {<<"tube12">>, stress_test}
                        ]},
                        {concurrent_jobs, 10000}
                    ]}
                ]}
            ]}
        ]}
    ]
}
].
