{
    deps,
    [
        {ebeanstalkd, ".*", {git, "https://github.com/silviucpp/ebeanstalkd", {tag, "v1.0"}}},
        {revolver, ".*", {git, "https://github.com/silviucpp/revolver.git", "master"}},
        {ratx, ".*", {git, "https://github.com/liveforeverx/ratx.git", {tag, "v0.1.0"}}}
    ]
}.

{
    erl_opts,
    [
        warnings_as_errors,
        warn_export_all,
        {parse_transform,lager_transform}
    ]
}.