{
    deps,
    [
        {beanstalk, ".*", {git, "https://github.com/silviucpp/erlang-beanstalk.git", {tag, "v2.1"}}},
        {revolver, ".*", {git, "https://github.com/odo/revolver.git", {tag, "1.3.1"}}},
        {ratx, ".*", {git, "https://github.com/liveforeverx/ratx.git", {tag, "v0.1.0"}}}
    ]
}.

{
    erl_opts,
    [
        {parse_transform,lager_transform}
    ]
}.